[user]
	name = Luis Fernando Valencia Ruiz
	email = luifervaru@hotmail.com
	name = Javier Alfonso Zapata Montoya
	email = javier.alfonso28@htmail.com
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
